<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secondhand.dao.GoodstatusMapper">
  <resultMap id="BaseResultMap" type="com.secondhand.entity.Goodstatus">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gid" jdbcType="INTEGER" property="gid" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="gtid" jdbcType="INTEGER" property="gtid" />
    <result column="bid" jdbcType="INTEGER" property="bid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gid, cid, gtid, bid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_goodstatus
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_goodstatus
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.secondhand.entity.Goodstatus">
    insert into t_goodstatus (id, gid, cid, 
      gtid, bid)
    values (#{id,jdbcType=INTEGER}, #{gid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, 
      #{gtid,jdbcType=INTEGER}, #{bid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.secondhand.entity.Goodstatus">
    insert into t_goodstatus
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gid != null">
        gid,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="gtid != null">
        gtid,
      </if>
      <if test="bid != null">
        bid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gid != null">
        #{gid,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="gtid != null">
        #{gtid,jdbcType=INTEGER},
      </if>
      <if test="bid != null">
        #{bid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.secondhand.entity.Goodstatus">
    update t_goodstatus
    <set>
      <if test="gid != null">
        gid = #{gid,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="gtid != null">
        gtid = #{gtid,jdbcType=INTEGER},
      </if>
      <if test="bid != null">
        bid = #{bid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.secondhand.entity.Goodstatus">
    update t_goodstatus
    set gid = #{gid,jdbcType=INTEGER},
      cid = #{cid,jdbcType=INTEGER},
      gtid = #{gtid,jdbcType=INTEGER},
      bid = #{bid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>